<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @background.image %>
</p>

<p>
  <strong>Active:</strong>
  <%= @background.active %>
</p>

<%= link_to 'Edit', edit_background_path(@background) %> |
<%= link_to 'Back', backgrounds_path %>
