<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @background_two.image %>
</p>

<p>
  <strong>Active:</strong>
  <%= @background_two.active %>
</p>

<%= link_to 'Edit', edit_background_two_path(@background_two) %> |
<%= link_to 'Back', background_twos_path %>
